<% layout("/layouts/boilerplate") %>
<script>
  let mapToken="<%=process.env.MAP_TOKEN%>";
  let listing = <%- JSON.stringify(listing) %> 
</script>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3><%=listing.title%></h3>
    </div>
    <div class="card col-8 offset-2 mt-3 show-card listing-card">
      <img
        src="<%=listing.image.url%>"
        class="card-img-top"
        alt="listing"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text"><i>Owned by <%=listing.owner.username%></i></p>
        <p class="card-text"><%= listing.description%></p>
        <p class="card-text">
          &#8377;<%=listing.price.toLocaleString("en-IN")%> /night
        </p>
        <p class="card-text"><%= listing.location%></p>
        <p class="card-text"><%= listing.country%></p>
        <!-- <b><%=listing.title%></b><br /> -->
      </div>
    </div>
  </div>

  <%if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-2 edit-btn"
      >edit</a
    >
    <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
      <button class="btn btn-dark offset-4">DELETE</button>
    </form>
  </div>
  <%}%>

  <div class="col-8 offset-2 mb-3">
    <%if(currentUser){%>
    <hr />
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <!-- <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="rating"
          class="form-range"
        />
      </div> -->
      <div class="mb-3 mt-3 ">
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <input
            type="radio"
            class="input-no-rate"
            name="rating"
            value="5"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="comment"
          id="comment"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add comment</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <%}%>
    <hr />
    <%if(listing.reviews.length > 0){%>
    <div class="row">
      <h4>All Reviews</h4>
      <% for(review of listing.reviews){%>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title mt-2">@<%=review.author.username%></h5>
          <p
            class="starability-result card-text"
            data-rating="<%= review.rating%>"
          ></p>
          <p class="card-text"><%= review.comment%></p>

          <form
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="post"
            class="mb-3"
          >
            <%if(currentUser &&
            currentUser.username===review.author.username){%>
            <button class="btn btn-sm btn-dark">Delete</button>
            <%}%>
          </form>
        </div>
      </div>
      <% }%>
    </div>
    <%}%>
  </div>
  <div class="col-10 offset-2 mb-3">
      <h3>Where You'll be</h3>
      <div id="map"></div>
    </div>
    <script src="/javascript/map.js"></script>
</body>
